*{
    margin: 0%;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    letter-spacing: 1.5px;
    line-height: 1.4em;
}
body{
  background-color: #504A59;
}
/************************************************** header */
#menu_control {
  display: none;
}
.eternal_header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  border-bottom: 1px solid #D9D7CC;
  position: sticky;
  top: 0px;
  z-index: 3;
}
.eternal_logo {
  width: 12.5%;
}
.eternal_logo img {
  width: 100%;

}
.top_nav {
  width: 31.25%;
  display: flex;
}
.main_menu {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
.shop_all,
.new_arrival,
.restock {
position: relative;
padding-bottom: 4%;
display: block;
flex-shrink: 0;
}
.text_shop a,
.text_new a,
.text_restock a{
  font-size: 1.25vw;
  color: #504A59;
  text-decoration: none;
  position: relative;
  display: inline-block;  
  transition: transform 0.3s;
  transform-origin: 50% 0;
  transform-style: preserve-3d;
}
.shop_all a:before,
.new_arrival a:before,
.restock a:before{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  content: attr(data-hover);
  transition: color 0.3s;
  transform: rotateX(-90deg);
  transform-origin: 50% 0;
  text-align: center;
}
.shop_all:hover a,
.shop_all:focus a,
.new_arrival:hover a,
.new_arrival:focus a,
.restock:hover a,
.restock:focus a{
  transform: rotateX(90deg) translateY(-22px);
}
.shop_all:hover .Classification{
display: block;
}
.Classification{
width: 100%;
display: none;
position: absolute;
top: 100%;
background-color: #ffffff;
}
.Classification_button{
padding-bottom: 5%;
padding-left: 20%;
margin: auto;
background-color: #D9D7CC;
}
.Classification_button:hover{
background-color: #BF9B8E;
}

.Classification_button a{
font-weight: 400;
color: #504A59;
text-decoration: none;
}
.Classification_button a:hover{
text-decoration: none;
}
.text_shop,
.text_new,
.text_restock {
  color: #504A59;
  font-size: 1.25vw;
  font-weight: 400;
  padding: 0 15px 0 15px;
}
.header_box {
  display: flex;
  align-items: center;
  width: 20%;
}
.eternal_search {
  width: 100%;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.eternal_search input#search {
  width: 100%;
  height: 40px;
  display: inline-block;
  background: #D9D7CC;
  border: none;
  font-size: 0.78125vw;
  color: #504A59;
  padding-left: 25%;
  padding-right: 8%;
  border-radius: 20px;
}
.eternal_search .search_icon {
  position: absolute;
  margin-left: 10%;
  margin-top: 3%;
  z-index: 1;
  font-size: 1.25vw;
  color: #504A59;
}
.eternal_search input#search:hover,
.eternal_search input#search:focus,
.eternal_search input#search:active{
  outline:none;
  background: #D9D7CC;
}
.member,
.shopping_bag {
  width: 8%;
  margin-left: 6%;
}
.member img,
.shopping_bag img {
  width: 100%;
}
.menu_btn {
  display: none;
}
#rwd_menu{
  display: none;
}
@media screen and (max-width:1200px){
  .eternal_search input#search{
    height: 35px;
  }
  .eternal_search .search_icon {
    font-size: 9px;
    margin-top: 6%;
  }
}

@media screen and (max-width:1024px){
  .eternal_search input#search{
    height: 30px;
  }
  .eternal_search .search_icon {
    font-size: 9px;
    margin-top: 5%;
  }
}

@media screen and (max-width:768px){
  .eternal_search input#search{
    height: 25px;
  }
  .eternal_search .search_icon {
    font-size: 9px;
    margin-top: 4%;
  }
  .member,
  .shopping_bag {
    width: 10%;
    margin-left: 8%;
  }
}

@media screen and (max-width:500px){
  .main_menu,
  .header_box {
    display: none;
  }
  .eternal_header {
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    border-bottom: 1px solid #D9D7CC;
    position: relative;
    position: sticky;
    top: 0;
  }
  .eternal_logo {
    width: 30%;
    margin-top: 1%;
    display: flex;
    align-items: center;
  }
  .eternal_search {
    width: 100%;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
  }
  .eternal_search input#search {
    width: 90%;
    height: 40px;
    display: inline-block;
    background: #D9D7CC;
    border: 1px solid #504A59;
    font-size: 16px;
    color: #504A59;
    padding-left: 12%;
    padding-right: 8%;
    border-radius: 20px;
    margin-left: 5%;
    margin-bottom: 3%;
  }
  .eternal_search .search_icon {
    position: absolute;
    margin-left: 12%;
    margin-top: 2.8%;
    z-index: 1;
    font-size: 2.5svw;
    color: #504A59;
  }  
  .menu_btn {
    width: 38px;
    height: 38px;
    display: block;
    border-radius: 5px;
    position: absolute;
    top: 12px;
    right: 25px;
  }
  .menu_btn span {
    width: 70%;
    height: 1.5px;
    background-color: #504A59;
    overflow: hidden;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    rotate: 0deg;
  }
  #menu_control:checked ~ .eternal_header #rwd_menu {
    left: 0%;
  }
  .menu_btn span:nth-child(1){
      top: 9px;
      transition: top .5s .5s, rotate .5s;
  }
  .menu_btn span:nth-child(2){
      top: 18px;
  }
  .menu_btn span:nth-child(3){
      top: 28px;
      transition: top .5s .5s, rotate .5s;
  }
  #menu_control:checked + .eternal_header .menu_btn span:nth-child(1){
      top: 18px;
      rotate: 45deg;
      transition: top .5s, rotate .5s .5s;
  }
  #menu_control:checked + .eternal_header .menu_btn span:nth-child(2){
      display: none;
  }
  #menu_control:checked + .eternal_header .menu_btn span:nth-child(3){
      top: 18px;
      rotate: -45deg;
      transition: top .5s, rotate .5s .5s;
  }
  #menu_control {
    z-index: -2;
    opacity: 0;
  }  
  #rwd_menu{
    display: block;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: #D9D7CC;
    padding-top: 20px;
    position: absolute;
    top: 60px;
    left: -100%;
    transition: .5s;
  }
  #rwd_menu a{
    display: block;
    text-decoration: none;
    color: #504A59;
    padding: 10px 35px;
    border-bottom: 1px solid #504A59;
  }
  .carousel-indicators .active{
    opacity: 0;
  }
  .carousel-indicators [data-bs-target]{
    opacity: 0;
  }
}
  /********************************************** footer */
  .eternal_footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #D9D7CC;
    background-color: #ffffff;
  }
  .button_nav{
    width: 80%;
    flex-shrink: 0;
  }
  .information_menu{
    margin: 1.5% 0 1% 0;
    display: flex;
    justify-content: space-around;
  }
  ul>li{
    list-style-type: none;
  }
  li a{
      text-decoration: none;
      color: #222226;
  }
  li a:hover {
      color: #222226;
      text-decoration: underline;
  }
  .button_tag{
    width: 80%;
    display: flex;
    justify-content: center;
    margin-bottom: .6%;
  }
  .copyright{
    font-size: 0.390625vw;
  }
  @media screen and (max-width:768px){
    ul>li {
      font-size: 12px;
    }
    .copyright{
      font-size: 9px;
      margin-bottom: 1%;
    }
  }
  @media screen and (max-width:500px){
    .information_menu {
      display: block;
      text-align: center;
    }
    ul>li {
      margin-top: 2%;
    }
    .copyright{
      margin-top: 2%;
      margin-left: 6%;
    }
  }
  /* ***************************************login */
  .login{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    background-color: #504A59;
  }
  .login_page {
    width: 70%;
    display: flex;
    align-items: center;
  }
  .login_menu{
    width: 40%;
    margin: auto;
    background-color: #D9D7CC;
    border-radius: 15% 1%;
    padding: 4% 5% 5% 5%;
  }
  .login_title{
    border-bottom: #504A59 1px solid;
  }
  .login_welcome{
    text-align: center;
    color: #504A59;
  }
  .login_method{
    display: block;
    margin-top: 5%;
  }
  .quick_login_btn{
    width: 100%;
    position: relative;
  }
  .quick_login_btn input.quick_login {
    width: 100%;
    height: 35px;
    background: #504A59;
    border: none;
    font-size: 14px;
    text-align: center;
    color: #D9D7CC;
    border-radius: 3px;
    margin-top: 2%;
  }
    .quick_login_icon {
    position: absolute;
    top: 15px;
    left: 0;
    z-index: 2;
    margin-left: 6%;
  }
  .line_icon{
    position: absolute;
    top: 13px;
    left: 0;
    z-index: 2;
    margin-left: 6%;
  }
  .line_icon img{
    width: 65%;
  }
  .login_and_forgot{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .login_and_forgot a {
    text-decoration: none;
  }
  .login_method{
    display: block;
  }
  .forgot_password{
    display: block;
    background-color: #D9D7CC;
    color: #504A59;
    border: 1px solid #504A59;
    padding: 1px 3px;
  }
  .login_box{
    display: flex;
    flex-direction: column;
  }
  .login_box ::placeholder{
    font-size: 9px;
  }
  .account_number,
  .password{
    margin-top: 5%;
    background-color: #D9D7CC;
    border: none;
    outline: none;
    border-bottom: #504A59 1px solid;
  }
  .login_btn{
    margin-top: 8%;
    height: 35px;
    background: #504A59;
    border: none;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #D9D7CC;
    border-radius: 3px;
  }
  .login_btn:hover{
    background-color: #D9D7CC;
    color: #504A59;
    border: 1px solid #504A59;
  }
  /******************************************* log_up_page*/
  .log_up_page{
    width: 30%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url("images/log_up_background.jpg");
    background-size: 100% 100%;
    background-repeat:repeat-y;
  }
  .logup_title{
    color: #504A59;
  }
  .logup_text{
    font-size: 16px;
    margin-top: 15%;
  }
.logup_btn{
    width: 80%;
    height: 35px;
    background: #504A59;
    border: none;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #D9D7CC;
    border-radius: 3px;
    margin-top: 45%;
}
.logup_btn:hover{
    background-color: #D9D7CC;
    color: #504A59;
    border: 1px solid #504A59;
}
@media screen and (max-width:1200px){
  .login_menu {
    width: 50%;
    height: auto;
    padding: 7%;
  }
}
@media screen and (max-width:1024px){
  .login_page {
    width: 100%;
    height: 70vh;
    background-repeat:repeat-x;
  }
  .login_menu {
    width: 45%;
    height: auto;
    padding: 5%;
  }
  .log_up_page {
    width: 100%;
    height: 30vh;
  }
  .logup_text {
    margin-top: 5%;
  }
  .logup_btn{
    width: 32%;
    margin-top: 5%;
}
}
@media screen and (max-width:768px){
  .login_menu {
    width: 65%;
    height: auto;
    padding: 6%;
  }
}
@media screen and (max-width:500px){
  .login_menu {
    width: 85%;
    height: auto;
    padding: 6%;
  }
}