<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eternal</title>
    <link rel="icon" href="logo_title.ico" type="image/x-icon" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="shop_all_style.css">
</head>
<body>
    <div id="app">
        <input type="checkbox" name="" id="menu_control">
        <header class="eternal_header">
            <h1 class="eternal_logo">
                <a href="index.html">
                    <img src="logo.png" alt="eternal_logo">
                </a>
            </h1>
            <label for="menu_control" class="menu_btn">
                <span></span>
                <span></span>
                <span></span>
            </label>
            <nav id="rwd_menu">
                <div class="eternal_search">
                    <span class="search_icon"><i class="fa-solid fa-magnifying-glass" style="color: #16161a;"></i></span>
                    <input type="search" id="search" placeholder="Search搜尋">
                </div>
                <a href="shop_all.html">所有商品</a>
                <a href="shop_all.html">最新商品</a>
                <a href="shop_all.html">熱銷商品</a>
                <a href="login.html">會員登入</a>
                <a href="shopping_bag.html">購物車</a>
            </nav>
            <nav class="top_nav">
                <div class="main_menu">
                    <div class="shop_all">
                        <h2 class="text_shop">
                            <a data-hover="ALL" href="shop_all.html">
                            所有商品
                            </a>
                        </h2>
                        <div class="Classification">
                            <h3 class="Classification_button">
                                <a href ="shop_all.html">上身類</a>
                            </h3>
                            <h3 class="Classification_button">
                                <a href="shop_all.html">下身類</a>
                            </h3>
                            <h3 class="Classification_button">
                                <a href="shop_all.html">連身類</a>
                            </h3>
                            <h3 class="Classification_button">
                                <a href="shop_all.html">配飾</a>
                            </h3>
                            <h3 class="Classification_button">
                                <a href="shop_all.html">風格支線</a>
                            </h3>
                            <h3 class="Classification_button">
                                <a href="shop_all.html">優惠活動</a>
                            </h3>
                        </div>
                    </div>
                    <div class="new_arrival">
                        <h2 class="text_new">
                            <a data-hover="NEW" href="shop_all.html">
                                最新商品
                            </a>
                        </h2>
                    </div>
                    <div class="restock">
                        <h2 class="text_restock">
                            <a data-hover="RESTOCK" href="shop_all.html">
                                熱銷商品
                            </a>
                        </h2>
                    </div>
                </div>
            </nav>
            <div class="header_box">
                <div class="eternal_search">
                    <span class="search_icon"><i class="fa-solid fa-magnifying-glass" style="color: #16161a;"></i></span>
                    <input type="search" id="search" placeholder="Search搜尋">
                </div>
                <div class="member">
                    <a href="login.html"><img src="icon/user.png" alt="member"></a>
                </div>
                <div class="shopping_bag">
                    <a href="shopping_bag.html"><img src="icon/shopping_bag.png" alt="shopping_bag"></a>
                </div>
            </div>
        </header>
        <section class="shop_all_page">
            <nav class="shop_all_nav">
                <div class="large_category">
                    <a href="#">
                        <h3 class="nav_category">上身類</h3>
                    </a>
                    <div class="nav_category_Details">
                        <a href="#">無袖</a>
                        <a href="#">短袖</a>
                        <a href="#">長袖</a>
                        <a href="#">襯衫</a>
                        <a href="#">外套</a>
                    </div>
                </div>
                <div class="large_category">
                    <a href="#">
                        <h3 class="nav_category">下身類</h3>
                    </a>
                    <div class="nav_category_Details">
                        <a href="#">短裙</a>
                        <a href="#">長裙</a>
                        <a href="#">短褲</a>
                        <a href="#">長褲</a>
                        <a href="#">牛仔褲</a>
                    </div>
                </div>
                <div class="large_category">
                    <a href="#">
                        <h3 class="nav_category">連身類</h3>
                    </a>
                    <div class="nav_category_Details">
                        <a href="#">洋裝</a>
                        <a href="#">連身褲</a>
                        <a href="#">泳裝</a>
                    </div>
                </div>
                <div class="large_category">
                    <a href="#">
                        <h3 class="nav_category">配飾</h3>
                    </a>
                    <div class="nav_category_Details">
                        <a href="#">耳環</a>
                        <a href="#">首飾</a>
                        <a href="#">戒指</a>
                        <a href="#">髮飾</a>
                        <a href="#">帽子</a>
                    </div>
                </div>
                <div class="large_category">
                    <a href="#">
                        <h3 class="nav_category">風格支線</h3>
                    </a>
                    <div class="nav_category_Details">
                        <a href="#">法國旅拍系列</a>
                        <a href="#">居家休閒系列</a>
                        <a href="#">電影聯名系列</a>
                    </div>
                </div>
                <div class="large_category">
                    <a href="#">
                        <h3 class="nav_category">優惠活動</h3>
                    </a>
                    <div class="nav_category_Details">
                        <a href="#">新品95折</a>
                        <a href="#">兩件$798</a>
                        <a href="#">三件7折</a>
                    </div>
                </div>
            </nav>
            <nav class="shop_all_nav_rwd">
                <div class="large_category_rwd_tab" id="category_rwd_tab">
                    <a href="#">
                        <h3 class="nav_category_rwd">上身類</h3>
                    </a>
                    <a href="#">
                        <h3 class="nav_category_rwd">下身類</h3>
                    </a>
                    <a href="#">
                        <h3 class="nav_category_rwd">連身類</h3>
                    </a>
                    <a href="#">
                        <h3 class="nav_category_rwd">配飾</h3>
                    </a>
                    <a href="#">
                        <h3 class="nav_category_rwd">風格支線</h3>
                    </a>
                    <a href="#">
                        <h3 class="nav_category_rwd">優惠活動</h3>
                    </a>
                </div>
                <div id="category_details_rwd">
                    <div class="category_details">
                        <a href="#">無袖</a>
                        <a href="#">短袖</a>
                        <a href="#">長袖</a>
                        <a href="#">襯衫</a>
                        <a href="#">外套</a>
                    </div>
                    <div class="category_details">
                        <a href="#">短裙</a>
                        <a href="#">長裙</a>
                        <a href="#">短褲</a>
                        <a href="#">長褲</a>
                        <a href="#">牛仔褲</a>
                    </div>
                    <div class="category_details">
                        <a href="#">洋裝</a>
                        <a href="#">連身褲</a>
                        <a href="#">泳裝</a>
                    </div>
                    <div class="category_details">
                        <a href="#">耳環</a>
                        <a href="#">首飾</a>
                        <a href="#">戒指</a>
                        <a href="#">髮飾</a>
                        <a href="#">帽子</a>
                    </div>
                    <div class="category_details">
                        <a href="#">法國旅拍系列</a>
                        <a href="#">居家休閒系列</a>
                        <a href="#">電影聯名系列</a>
                    </div>
                    <div class="category_details">
                        <a href="#">新品95折</a>
                        <a href="#">兩件$798</a>
                        <a href="#">三件7折</a>
                    </div>
                </div>
                <script>
                    $(document).ready(function(){
                        $('.nav_category_rwd').click(function(e){
                            index = $(this).parent().index();
                            $('#category_details_rwd .category_details.active').removeClass('active').fadeOut(function(){
                                $('#category_details_rwd .category_details').eq(index).fadeIn().addClass('active');
                            });
                        });
        
                       $('#category_details_rwd .category_details').hide().first().show().addClass('active');
                    })
                </script>
            </nav>
            <section class="shop_all_product">
                <nav  class="shop_all_breadcrumb" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">HOME</a></li>
                        <li class="breadcrumb-item active" aria-current="page">SHOP ALL</li>
                    </ol>
                </nav>
                <div class="product_row">
                    <figure class="product_pic" v-for="item in item" :key="item.title">
                        <a href="Product_page.html">
                            <img :src=item.imageUrl[0]>
                        </a>
                        <a href="Product_page.html">
                            <figcaption class="product_name">{{ item.title }}</figcaption>
                        </a>
                        <figcaption class="product_price">{{ item.price }}</figcaption>
                    </figure>
                </div>
                <div class="product_row">
                    <figure class="product_pic" v-for="item in item1" :keys="item.title">
                        <a href="Product_page.html">
                            <img :src=item.imageUrl[0]>
                        </a>
                        <a href="Product_page.html">
                            <figcaption class="product_name">{{ item.title}}</figcaption>
                        </a>
                        <figcaption class="product_price">{{item.price}}</figcaption>
                    </figure>
                </div>
                <div class="product_row">
                    <figure class="product_pic" v-for="item in item2" :keys="item.title">
                        <a href="Product_page.html">
                            <img :src=item.imageUrl[0]>
                        </a>
                        <a href="Product_page.html">
                            <figcaption class="product_name">{{item.title}}</figcaption>
                        </a>
                        <figcaption class="product_price">{{item.price}}</figcaption>
                    </figure>
                </div>
                <div class="product_row">
                    <figure class="product_pic" v-for="item in item3" :keys="item.title">
                        <a href="Product_page.html">
                            <img :src=item.imageUrl[0]>
                        </a>
                        <a href="Product_page.html">
                            <figcaption class="product_name">{{item.title}}</figcaption>
                        </a>
                        <figcaption class="product_price">{{item.price}}</figcaption>
                    </figure>
                </div>
                <!-- 商品導覽頁數 -->
                <nav class="number_of_pages">
                    <div class="page" aria-current="page" v-for="count in 5" :key="count"><a href="#">{{count}}</a></div>
                </nav>
            </section>
        </section>
        <footer class="eternal_footer">
            <nav class="button_nav">
                <ul class="information_menu">
                    <li class="how_to_buy">
                        <a href="how_to_buy.html">
                            <span class="text_how_to_buy">HOW TO BUY</span>
                        </a>
                    </li>
                    <li class="notice">
                        <a href="#">
                            <span class="text_notice">NOTICE</span>
                        </a>
                    </li>
                    <li class="about_eternal">
                        <a href="about.html">
                            <span class="text_about_eternal">ABOUT ETERNAL</span>
                        </a>
                    </li>
                    <li class="facebook">
                        <a href="#">
                            <span class="text_facebook">FACEBOOK</span>
                        </a>
                    </li>
                    <li class="instagram">
                        <a href="#">
                            <span class="text_instagram">INSTAGRAM</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="button_tag">
                <span class="copyright">©ETERNAL 2023</span>
            </div>
        </footer>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        Vue.createApp({
            data() {
                return {
                    item:[
                        {
                            imageUrl:['images/product_row_01_01.jpg','images/product_row_01_01_01.jpg'],
                            title: '品牌經典西裝外套',
                            price: 'NT. 1,800',
                        },
                        {
                            imageUrl:['images/product_row_01_02.jpg','images/product_row_01_02_02.jpg'],
                            title: '復古印花西裝外套',
                            price: 'NT. 2,800',
                        },
                        {
                            imageUrl:['images/product_row_01_03.jpg','images/product_row_01_03_03.jpg'],
                            title: '挺版俐落西裝外套',
                            price: 'NT. 5,400',
                        },
                        {
                            imageUrl:['images/product_row_01_04.jpg','images/product_row_01_04_04.jpg'],
                            title: '質感設計西裝外套',
                            price: 'NT. 3,600',
                        },
                        {
                            imageUrl:['images/product_row_01_05.jpg','images/product_row_01_05_05.jpg'],
                            title: '經典黑色長版風衣',
                            price: 'NT. 4,500',
                        },
                    ],
                    item1:[
                        {
                            imageUrl:['images/product_row_02_01.jpg','images/product_row_02_01_01.jpg'],
                            title: '典雅晚宴質感長洋裝',
                            price: 'NT. 4,200',
                        },
                        {
                            imageUrl:['images/product_row_02_02.jpg','images/product_row_02_02_02.jpg'],
                            title: '直條紋腰身綁帶洋裝',
                            price: 'NT. 2,800',
                        },
                        {
                            imageUrl:['images/product_row_02_03.jpg','images/product_row_02_03_03.jpg'],
                            title: '天然染色連身牛仔褲',
                            price: 'NT. 2,600',
                        },
                        {
                            imageUrl:['images/product_row_02_04.jpg','images/product_row_02_04_04.jpg'],
                            title: '微皺百搭款休閒襯衫',
                            price: 'NT. 1,600',
                        },
                        {
                            imageUrl:['images/product_row_02_05.jpg','images/product_row_02_05_05.jpg'],
                            title: '碎花收腰開岔長洋裝',
                            price: 'NT. 2,800',
                        },
                    ],
                    item2:[
                        {
                            imageUrl:['images/product_row_03_01.jpg','images/product_row_03_01_01.jpg'],
                            title: '經典抓皺絲滑長洋裝',
                            price: 'NT. 3,800',
                        },
                        {
                            imageUrl:['images/product_row_03_02.jpg','images/product_row_03_02_02.jpg'],
                            title: 'Future銀剪裁款洋裝',
                            price: 'NT. 2,800',
                        },
                        {
                            imageUrl:['images/product_row_03_03.jpg','images/product_row_03_03_03.jpg'],
                            title: '貼膚薄紗夢境洋裝',
                            price: 'NT. 4,200',
                        },
                        {
                            imageUrl:['images/product_row_03_04.jpg','images/product_row_03_04_04.jpg'],
                            title: '修肩典雅短洋裝',
                            price: 'NT. 2,600',
                        },
                        {
                            imageUrl:['images/product_row_03_05.jpg','images/product_row_03_05_05.jpg'],
                            title: '菱格設計針織外套',
                            price: 'NT. 3,200',
                        },
                    ],
                    item3:[
                        {
                            imageUrl:['images/product_row_04_01.jpg','images/product_row_04_01_01.jpg'],
                            title: '度假風雲朵連身裙',
                            price: 'NT. 1,800',
                        },
                        {
                            imageUrl:['images/product_row_04_02.jpg','images/product_row_04_02_02.jpg'],
                            title: '寬鬆潑墨設計運動套裝',
                            price: 'NT. 3,200',
                        },
                        {
                            imageUrl:['images/product_row_04_03.jpg','images/product_row_04_03_03.jpg'],
                            title: '經典口袋裁縫設計T恤',
                            price: 'NT. 1,200',
                        },
                        {
                            imageUrl:['images/product_row_04_04.jpg','images/product_row_04_04_04.jpg'],
                            title: '單寧顯瘦直筒牛仔褲',
                            price: 'NT. 1,800',
                        },
                        {
                            imageUrl:['images/product_row_04_05.jpg','images/product_row_04_05_05.jpg'],
                            title: '質感休閒西裝褲',
                            price: 'NT. 2,600',
                        },
                    ],
                    
                }
            }
        }).mount('#app')
    </script>
</body>